<configuration>
    <appender name="transactions" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>transactions.log</File>

        <Append>true</Append>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%c %d{yyyy.MM.dd HH:mm:ss.SSS} %-5p [%t]: %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>test.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="transactions"/>
    </root>
</configuration>